<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-compatible" content="IE-edge">
        <script src="https://js.stripe.com/v3/"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
         <title>COUPON TOOL</title>
</head>        
 <body>
  <nav class="navbar navbar-dark bg-primary shadow-lg p-4">
    <div class="container-fluid">
      <a class="navbar-brand" href=""><b>COUPONS</b></a>
      <form class="form-inline">
        {% if  request.user.is_authenticated and  request.session.prof  %}
             <a href="{% url 'logout_account' %}" class="btn  btn-success mr-3"><b>LOGOUT</b></a>
             <a href=" " class="btn  btn-info"><b>PRO MEMBER</b></a>
             <a href="{% url 'unsubscribe' %}" class="btn  btn-danger"><b>UNSUBSCRIBE</b></a>
             
                   
        {%elif request.user.is_authenticated and not request.session.prof%}
            <a href="{% url 'logout_account' %}" class="btn  btn-success mr-2"><b>LOGOUT</b></a>
      
            <a href="{% url 'subscribe' %}" class="btn  btn-danger"><b>SUBSCRIBE</b></a>
      
       {% endif%}
         
       
            
       
       </form>
        </div>
    </nav>
        <!--h1 class="text-center">coupon tool</h1-->
     <h2>Search by CouponTags</h2>
     <form action="" method="get">
         <input type="text" name="tags">
         <button tupe="submit" value="search">search</button>

     </form>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% for i in coupon_info %}
                <div class="row">
                    <div class="col-sm-6">
                      <div class="card" style="width: 44rem;">
                         <img src="{{i.banner3}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{i.title}}</h5>
                                 <p class="card-title">{{i.ID}}</p>
                                 <p class="card-text">{{i.url}}</p>
                              
                                 <a href="{% url 'whatsapp' %}?coupen_url={{i.url}}" class="btn btn-primary">SEND WHATSAPP</a>
                                 <a href="{% url 'smsdatabase' %}?coupen_id={{i.ID}}" class="btn btn-primary">SEND SMS FROM DATABASE</a>
                                 <a href="{% url 'sendemail' %}?coupen_id={{i.ID}}" class="btn btn-primary">SEND EMAIL</a>
                                 <a href="{% url 'landingcopon' %}?coupen_id={{i.ID}}" class="btn btn-primary">MAKE PAYMENT</a>
                                 
                                  </div>
                             </div>
                        </div>
               {% endfor %}
               </div>
                 
         </div>
    </div>       
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>
   
  </body>
       
 </body>>
</html>>