<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-compatible" content="IE-edge">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
         <title>LOGIN</title>
</head>        
 <body>


    <div class="container mt-5">
        <h3> LOGIN </h3>
     
        <form class="mx-auto" method="POST">
            {% csrf_token %}
            {% if message %}
            {% csrf_token %}
            <div class="alert alert-info">{{message}}</div>
            {% endif  %}

        

            <div class="col-md-6">
                <label>USERNAME</label>
                <input type="text" name="username" placeholder="ENTER USERNAME" class= "form-control">


            </div>
            <div class="col-md-6">
                <label>PASSWORD</label>
                <input type="password" name="password" placeholder="ENTER PASSWORD" class= "form-control">


            </div>
            <div class="col-md-6">
            <button type="submit" class="btn btn-primary mt-4">LOGIN</button>
        </div>
        </form>
        
    </div>
 </body>